html
  head
    title 
    block scripts
        script(src="https://kit.fontawesome.com/3f4bdd8d17.js" crossorigin="anonymous")
    block style
        style
            link(rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css")
            include ../../static/design.css
            include ../../static/style.css
            include ../../static/instock.css
            include ../../static/stylesignup.css
  body
    block content
        nav#navbar 
            div.logo 
                img(src="../../static/img/bg6.png", alt="Error Loading Image")
            ul.navlist
                li #[a(href="#") My Store]
            div.rightnav 
                if(currentUser)
                    ul
                        li #[a(href="/username") #{currentUser.name}]
                        li #[a(href="/changepassword") Change Password]
                        li #[a(href="/logout") Log Out]
        div.container
            div.cont
                include ../partials/sidebar.pug
            div.container1 
                div.tab
                    h1 Out of Stock Products
                    include ../partials/messages.pug
                    table(border='1')
                        thead
                            tr 
                                th
                                    |SKU 
                                th 
                                    |Name 
                                th 
                                    |Price 
                                th 
                                    |Stock 
                                th 
                                    |Actions 
                        tbody
                            each pro in products 
                                if(pro.oldstock.includes("In stock"))
                                    tr(style="background-color: rgb(0,0,0); color: white;")
                                        td=pro.sku 
                                        td=pro.url 
                                        td=pro.newprice 
                                        td=pro.newstock 
                                        td.hi 
                                            a(href=pro.url, target="_blank") 
                                                i(class="fa fa-eye")
                                            form(action="/delete/"+pro.id+"?_method=DELETE", method="post")
                                                input(type="hidden", name="_method" ,value="PUT")
                                                button(type="submit") 
                                                    i(class="fa fa-trash")
                                else 
                                    tr 
                                        td=pro.sku 
                                        td=pro.title
                                        td=pro.newprice 
                                        td=pro.newstock 
                                        td.hi 
                                            div.post
                                                a(href=pro.url, target="_blank") 
                                                    i(class="fa fa-eye")
                                                form(action="/delete/product/"+pro.id+"?_method=DELETE", method="post")
                                                    input(type="hidden", name="_method" ,value="PUT")
                                                    button(type="submit") 
                                                        i(class="fa fa-trash")
